<ul class="social-media-list">
  
  
  {%- if site.flickr_username -%}<li class="social-media-icon"><a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use></svg> <span class="username">{{ site.flickr_username| escape }}</span></a></li>{%- endif -%}
  
  {%- if site.github_username -%}<li class="social-media-icon"><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/social/github.svg' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}

  {%- if site.orcid -%}<li class="social-media-icon"><a href="https://orcid.org/{{ site.orcid| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/social/orcid.svg' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}

  {%- if site.google_scholar -%}<li class="social-media-icon"><a href="{{ site.google_scholar| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/social/googlescholar.svg' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}
  
  {%- if site.linkedin_username -%}<li class="social-media-icon"><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/social/linkedin.svg' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}
  
  
</ul>
