
<ul class="button-list">
    <li class = "button"><a href="{{ site.social.personal }}">{% include social/squarespace.svg %}</a></li>
    <li class = "button"><a href="{{ site.social.github }}">{% include social/github.svg %}</a></li>
    <li class = "button"><a href="{{ site.social.linkedin }}">{% include social/linkedin.svg %}</a></li>
    <li class = "button"><a href="{{ site.social.scholar }}">{% include social/googlescholar.svg %}</a></li>
    <li class = "button"><a href="{{ site.social.orcid }}">{% include social/orcid.svg %}</a></li>
</ul>

<!-- Icons from https://simpleicons.org -->