---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Scroll bar hehavior
 */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}


/**
 * Blockquotes
 */
 blockquote {
  color: $grey-color;
  border-left: 3px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Site header
 */

.site-nav {
  @include media-query($on-palm) {
    top: 59px;
  }
}
 .site-header {
  padding-top: 50px;
  border-top: 0px solid $grey-color-dark;
  border-bottom: 0px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}


// .page-link {
//   float: right;
//   margin-right: 0px;
//   margin-left: 20px;
// }
// don't move nav links if bold
// https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size
// .page-link::after {
//   display: block;
//   // float: right;
//   content: attr(title);
//   font-weight: bold;
//   height: 1px;
//   color: transparent;
//   overflow: hidden;
//   visibility: hidden;
// }

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.curr-page-link {
  // font-weight: bold;
  text-decoration: underline;
  line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
  &:not(:last-child) {
    margin-right: 20px;
  }
}

/**
 * Site footer
 */
 .site-footer {
  border-top: 0px solid $grey-color-light;
  padding: $spacing-unit 0;
}
.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em 0;
  }

.social-media-icon {
  display: inline;
  margin: 2px;
  padding: 0;
}

svg {
  height: 20px;
  width: 20px;
  fill:grey;
}

svg:hover {
  fill:black;
}

.footer-col-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nd-footer {
  @include relative-font-size(0.9375);
  color: $grey-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  float:none;
  margin-bottom: $spacing-unit / 2;
  padding-left: 0;
}


.p-name {
  font-weight: bold;
}

/**
 * Posts
 */

img.post-gallery {
  height: auto;
  width: 75px;
}

ul.post-list {
  margin-bottom: 0px;
}

.thumbnail {
  width: 85px;
}

.gallery-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post-item {
  display: flex;
  margin-bottom: 0px;
}

.post-heading {
  margin-bottom: 0px;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.1);
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.6);

    @include media-query($on-laptop) {
      @include relative-font-size(1.6);
    }
  }

  h3 {
    font-style:italic;
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

  h4 {
    font-style: italic;
    @include relative-font-size(1.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }
}



/**
 * Tags
 */

ul.tag-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  align-items: baseline;
  margin-left: 0px;
}

li.tag-link {
  padding-right: $spacing-unit;
}

.by-tag {
  display: flex;
  flex-flow: row wrap; 
}

.by-tag-item {
  flex-basis: 200px;
}

@media print {
  .cv-back {
    display: none !important;
  }
  .cv-all {
    font-size: 80%;
    line-height: 1.2;
  }
  .syllabus {
    th, td {
      padding: 1pt ($spacing-unit / 5);
    }
    font-size: 90%;
    line-height: 1.3;
  }
}

@include media-query($on-palm) {
  cv-all.table {
    table-layout: auto;
  }
}


@media print, screen and (max-width: 1200px) {
  .sidetoc {
    display: none;
  }
}

// syllabus footer
@media screen {
  .syl-footer {
    display: none
  }
}

/**
 * Syllabus
 */

.syllabus {
  font-family: 'Crimson Text';
  font-size: 110%;
  th {
     line-height: 1.3;
     padding: ($spacing-unit / 6) ($spacing-unit / 5) 1px; //  top rightleft bottom
  }
  td {
    padding: ($spacing-unit / 10) ($spacing-unit / 5); 
  }
  span {
    background-color: gold;
  }
  th, thead {
    vertical-align: bottom;
  }
  h1 {
    // font-weight: bolder;
    letter-spacing: -2px;
    line-height: 1;
    @include relative-font-size(2.625);
  }
  h3 {
    font-style: italic;
  }
  table {
    margin-top: 0.5em;
    margin-right: auto;
    margin-left: 30px;
    width:auto;
  }

  h2, h3 {
    margin-bottom: 0;
    letter-spacing: -1px;
  } 
}

.syl-header {
  display: flex;
  justify-content: space-between;
}

.grade-conv {
  display: flex;
  justify-content: space-evenly;
}

.grade-conv-list {
  list-style-type: none;
  margin-left: $spacing-unit / 2;
}

.sidetoc {
  font-family: $base-font-family;
  float: left;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 0;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  position: sticky;
  // right: 40px;
  z-index: 1; /* Stay on top */
  top: 15px; /* Stay at the top */
  // left: -200px;
  // overflow-x: hidden; /* Disable horizontal scroll */
  font-size: 80%;
}

.toc-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.syl-toc {
  list-style: none;
  margin-left: 0px;
}

ul.syl-toc-sub {
  list-style: none;
  margin-left: 15px;
}

.syl-toc-title {
  font-weight: bold;
  color: gray;
  margin-bottom: 0;
}
header.logo {
  margin-right: 15px;
  svg {
      height: 100px;
      width: auto;
      fill:black;
  }
}



/**
 * CV
 */


.cv-all {
  font-family: 'Crimson Text';
  font-size: 110%;
  h3 {
    font-style: italic;
  }
  ul {
    list-style-type: square;
  }
  table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit;
    width: 95%;
    text-align: $table-text-align;
    color: $text-color;
    border-collapse: collapse;
    border: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    th, td {
      padding: 0;
      padding-right: 1em;
    }
    tr {
      &:nth-child(even) {
        background-color: $background-color;
      }
    }
    th {
      background-color: $background-color;
      border: 0;
      border-bottom: 1px solid black;
    }
    td {
      border: 0;
      vertical-align: text-top;
    }
    th {
      &:nth-child(1) {
        white-space: nowrap;
        width: 8em;
      }
      &:nth-child(3) {
        width: 10em;
      }
    }
  }
}

.cv-back {
  padding-top: 30px;
  padding-bottom: 50px;
  display:flex;
  justify-content: space-between;
}
 .cv-name {
   text-align: center;
 }

 .cv-flex {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .print-footer {
   text-align: center;
   font-size: small;
   font-style: italic;
 }

 #skill-list {
   list-style-type: none;
   margin-left: $spacing-unit / 2;
 }

 #skill-list > li > ul {
  list-style-type: none;
  margin-left: $spacing-unit / 2;
 }

 /**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 5) ($spacing-unit / 5);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: cand;
}

.ottab {
  table {
    counter-reset: cand;
  }
  td {
    &:nth-child(n+2) {
      text-align: center;
    }
  }
  td:nth-child(1)::before {
    counter-increment: cand;
    content: counter(cand, lower-alpha)". ";
  }
}