---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em 0;
  }

.social-media-icon {
  display: inline;
  margin: 2px;
  padding: 0;
}

svg {
  height: 20px;
  width: 20px;
  fill:grey;
}

svg:hover {
  fill:black;
}

.footer-col-2 {
  width: 0;
  width: 0;
}

.footer-col-3 {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width:         calc(55% - (#{$spacing-unit} / 2));
}