<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="cv-header">
      <div class="wrapper">
      <h1 class="cv-name">{{ site.author.name }}</h1>
        <div class="cv-flex">
          <div class="cv-flex-item">
            <p><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
            <br><a href="{{ site.url }}">{{ site.url }}</a>
            <br>{{ site.author.pronouns }}</p>
          </div>
          <div class="cv-flex-item">
            <p>{{ site.description }} 
            <br>{{ site.address-1 }}
            <br>{{ site.address-2 }}
            <br>{{ site.address-3 }}</p>
          </div>
        </div>
    </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>