---
layout: print
---
<div class="cv-all">
  <div class="wrapper">
    <h1 class="cv-name">{{ site.author.name }}</h1>
    <div class="cv-flex">
      <div class="cv-flex-item">
        <p>[{{ site.author.ipa | escape }}] | {{ site.author.pronouns }} 
          <br><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          <br><a href="{{ site.url }}">{{ site.url | replace: "https://www.", "" }}</a>
          <br><a href="{{ site.github }}">{{ site.github | replace: "https://", "" }}</a>
          <!-- <br><a href="{{ site.linkedin }}">{{ site.linkedin | replace: "https://", "" }}</a>
          <br><a href="{{ site.orcid }}">{{ site.orcid | replace: "https://", "" }}</a> -->
        </p>
      </div>

      <div class="cv-flex-item">
        <p>{{ site.description }} 
        <br>{{ site.address-1 }}
        <br>{{ site.address-2 }}
        <br>{{ site.address-3 }}</p>
      </div>

    </div>


      {{ content }}


  </div>
</div>