<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      

      <div class="wrapper">
        <div class="cv-back"><a href="{{ site.baseurl }}{% link index.md %}">←Back</a> <a href="#" onclick="window.print();return false;">Print to PDF</a></div>
      </div>



      {{ content }}



    </main>

  </body>
  {% if page.title == 'CV' %}
    <footer class="print-footer cv-all">
      <p>Last updated: {{ page.last-updated }}</p>
    </footer>
  {% elseif page.last-updated %} 
    <footer class="print-footer">
      <p>Last updated: {{ page.last-updated }}</p>
    </footer>
  {% endif %}

</html>