<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      

      <div class="wrapper">
        <div class="cv-back">
          {% if page.collection == 'syllabi' %}
            <a href="{{ site.baseurl }}{% link teaching.md %}">←Back</a>
          {% else %} 
            <a href="{{ site.baseurl }}{% link index.md %}">←Back</a>
          {% endif %}
          {% if page.collection == 'syllabi' and page.pdf == true %}
            <a href="{{ site.baseurl }}/assets/pdfsyllabi/{{ page.path }}">Save as PDF</a>
          {% else %}
            <a href="#" onclick="window.print();return false;">Print to PDF</a>
          {% endif %}
        </div>
      </div>



      {{ content }}



    </main>

  </body>
  {% if page.title == 'CV' %}
    <footer class="print-footer cv-all">
      <p>Last updated: {{ page.last-updated }}</p>
    </footer>
  {% elsif page.last-updated %} 
    <footer class="print-footer">
      <p>Last updated: {{ page.last-updated }}</p>
    </footer>
  {% endif %}

</html>