---
layout: print
---

<article class="syllabus">
  <div class="toc-wrapper">
    <div class="sidetoc">
      {% if page.toc == true %}
        <p class="syl-toc-title">Contents</p>
        {% include toc.html html=content sanitize=true class="syl-toc" id="my_toc" submenu_class="syl-toc-sub" h_min=2 h_max=3 %}
      {% endif %}
    </div>
    <div class="wrapper">

      <div class="syl-header">
        <header>
          <h1>{{ page.title | escape }}</h1>
          <p>Dr. {{ site.author.name }}, <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
            <br> <em>{{ site.description }}</em></p>
            <div class="syl-footer"><br> Web version: <a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></div> 
        </header>
        <header class="logo">
          <!-- <img src="/assets/decorative/shield.png" style="max-height:100px;width:auto;"> -->
          {% include logo/shield.svg %}
        </header>
      </div>

    {{ content }}

    </div>
  </div>

  
</article>