---
layout: page
---

{{ content }}

<h2>Previous courses</h2>

<p>See my <a href="{{ site.baseurl }}{% link cv.md %}">CV</a> for full teaching history.</p>

<table class="table-sort">
    <thead>
        <tr>
            <th>Year</th>
            <th>Term</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
    {% assign sorted = site.syllabi | sort: 'year' | reverse %}
    {% for item in sorted %}
        {%- if item.semester != site.current_semester -%}
            {% assign sem = item.semester | split: ' ' %}
            <tr>
                <td>{{ item.year }}</td>
                <td>{{ sem[0] }}</td> 
                <td><a href="{{ item.url }}">{{ item.title }}</a></td> 
            </tr>
        {%- endif -%}
    {% endfor %}
    </tbody>
</table>



