---
layout: page
---

{{ content }}

{% assign semesters = site.syllabi | map:'semester' | uniq %}
{% assign years = site.syllabi | map:'year' | uniq | sort %}

{% for year in years %}
<h3>{{ year }}</h3>
    {% for item in site.syllabi %}
        {% for semester in semesters %}
        <h4>{{ semester }} </h4>
          {%- if item.year == year and item.year != site.current_year or item.semester != site.current_semester -%}
            <ul>
                <li> <a href="{{ item.url }}">{{ item.title }}</a></li>
            </ul>
          {%- endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}