---
layout: default
---
<article class="post">

    <p><a href="{% link wiki.md %}">←Back to Wiki Home</a></p>

  <header class="post-header">
    <h1 class="post-title wiki-title">{{ page.title | escape }}</h1>
  </header>
  <div class="post-content wiki-content">
    <div class="wiki-toc-heading">
        <p>Contents</p>
        {% include toc.html html=content sanitize=true class="wiki-toc" submenu_class="wiki-toc-sub" ordered=true h_min=2 h_max=3 %}        
    </div>
    {{ content }}
  </div>
  <div class="wiki-footer">
    {% assign items = site.wiki | sort: 'chapter' %}

    {% if items.size > 1 %}
      {% for item in items %}
        {% if item.title == page.title %}
          {% assign item_index = forloop.index %}
        {% endif %}
      {% endfor %}
      
      {% assign prev_index = item_index | plus: 1 %}
      {% assign next_index = item_index | minus: 1 %}
      
      {% for item in items %}
        {% if forloop.index == prev_index %}
          {% assign prev = item %}
        {% endif %}
        {% if forloop.index == next_index %}
          {% assign next = item %}
        {% endif %}
      {% endfor %}
      <p class="wiki-footer">
        {% if prev %}
          <a href="{{ prev.url }}" class="prev">←Previous: {{ prev.title }}</a>
        {% endif %}

        {% if next %}
          <a href="{{ next.url }}" class="next">Next: {{ next.title }}→</a>
        {% endif %}
      </p>
    {% endif %}
  </div>

</article>